.primary-button {
  padding-inline-end: 20px;
  padding-inline-start: 20px;
  padding-block-end: 12px;
  padding-block-start: 12px;
  background-color: $primary;
  color: white;
  border-radius: 8px;
}
