.btn {
  padding-block-end: 16px;
  padding-block-start: 16px;
  padding: 16px !important;
  border-radius: 16px !important;
  font-weight: 500 !important;
}
.btn-primary {
  background-color: $primary !important;
  border: 1px solid $primary !important;
  &:hover,
  &:focus,
  &:active:focus {
    background-color: darken($primary, 10%) !important;
    border: 1px solid darken($primary, 10%) !important;
    box-shadow: none !important;
  }
}