.card { border-radius: 1rem !important; }

h1 { 
    font-weight: 300 !important;
    margin-bottom: 2.5rem !important;
}

.fw-medium {
    font-weight: 500 !important;
  }

.home {
    background-image: url('../assets/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}