.step-form {
  .layout-input {
    display: flex;
    flex-direction: column;
    .form-control {
      background-color: $grey-x;
      border: none;
      border-radius: 1rem;
      padding-inline-end: 20px;
      padding-inline-start: 20px;
      padding-block-start: 20px;
      padding-block-end: 20px;
      &:focus {
        box-shadow: none;
      }
      &[type="file"] {
        border: 1px dashed $grey;
        background-color: $light;
        &:hover {
          background-color: $grey-x;
        }
      }
    }
  }
  .btn {
    padding-block-end: 16px;
    padding-block-start: 16px;
    border-radius: 16px;
    font-weight: 500;
  }
  .btn-primary {
    background-color: $primary;
    width: 100%;
    border: 1px solid $primary;
    &:hover,
    &:focus,
    &:active:focus {
      background-color: darken($primary, 10%);
      border: 1px solid darken($primary, 10%);
      box-shadow: none;
    }
  }

  .btn-link {
    color: $primary;
    text-decoration: none;
    &:hover {
      color: darken($primary, 10%);
    }
    &:focus {
      box-shadow: none;
    }
  }

  .btn-outline-secondary {
    width: 100%;
    padding-block-end: 20px;
    padding-block-start: 20px;
    border-radius: 16px;
  }

  .form-check-input {
    border-radius: 0.5rem !important;
    border: 1px solid $grey;
    width: 32px;
    height: 32px;
    &:checked {
      background-color: $primary;
      border: 1px solid $primary;
    }
    &:focus {
      box-shadow: none;
      border-color: $primary;
    }
    &:checked[type="checkbox"] {
      background-image: url("../assets/check.svg");
      background-size: 50%;
    }
    &[type="radio"] {
      border-radius: 50% !important;
      background-image: none !important;
      margin-right: 1rem;
    }
  }

  .steps-overflow {
    overflow-x: hidden;
  }

  .scroll {
    overflow-x: hidden;
  }
}
